#setter {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#setter-info {
  display: flex;
  flex-direction: column;  
  border:1px solid;
  width: 500px;
  height: 100px;
}

#container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  display: flex;
  flex-direction: column;  
  border:3px solid;
  border-radius: 2%;
}

#game-status {
  border-radius: 2%;
  border: 3px solid;
  margin: 10px;
  padding: 5px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#total-bomb {
  display: flex;
  justify-content: center;
  width: 65px;
  border: 2px solid;
  border-radius: 15%;
  height: 40px;
  
}

#face {
  border-radius: 15%;
  border: 1px solid;
  height: 35px;
  width: 35px;
  
}

#time {
  display: flex;
  justify-content: center;
  border: 2px solid;
  border-radius: 15%;
  width: 65px;
  height: 40px;
  
}

.num-count { 
  font-size: 25px;
}

#bomb-field {
  display: grid;
  border: 3px solid;
  border-radius: 2%;
  margin: 0 10px 10px 10px;
  max-width: 600px;
  
}

.field {
  text-align: center;
  border: 1px solid;
  border-radius: 3%;
  font-weight: 800;
}

.undig {
  /* border-top: rgb(233, 13, 13); */
  background-color: rgba(245, 245, 245, 0.632);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);

}

.dig {
  background-color: rgb(182, 182, 182,0.632);
}